# .gitignore

# 环境变量文件
.env

# Python 虚拟环境
venv/
*.pyc
__pycache__/

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 编辑器生成的文件
.vscode/
.idea/

# 日志文件
*.log

# 临时文件
*.tmp

# 个人笔记或配置文件（如果有的话）
notes.txt
config.local.jso